* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    background-color: rgb(247, 230, 210);
}

h1 {
    text-align: center;
    color: rgba(93, 15, 15, 0.926);
}

.home {
    color: green;
}

.recipe {
    color: rgb(2, 72, 2);
}