* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    background-color: rgb(247, 230, 210);
}

h1 {
    text-align: center;
    color: rgba(93, 15, 15, 0.926);
}

.home {
    color: green;
}

.recipe {
    color: rgb(2, 72, 2);
}

h2 {
    color: rgba(93, 15, 15, 0.926);
    margin: 20px 20px 0px 20px;
}

.description {
    border: 5px dotted rgb(55, 116, 55);
    background-color: rgba(182, 211, 182, 0.787);
    padding: 10px 10px 10px 10px;
    margin: 0px 10px 10px 10px;
}